@import url("https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather Sans", sans-serif;
  background: #f1f5f8;
}

.houselist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .houselist {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* House Component */
.houseContainer {
  background: #fff;
  border-radius: 1rem;
  /* padding: 2rem; */
  text-align: center;
}
.imgContainer {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.houseContainer img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.houseContainer .houseContent {
  padding: 1rem;
}
