@import url("https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Css variables */
:root {
  ---primary-color: #333;
  --secondary-color: #f1f5f8;
  --card-color: #fff;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  background: var(--secondary-color);
}

.houselist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .houselist {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* House Component */
.houseContainer {
  background: var(--card-color);
  border-radius: 1rem;
  /* padding: 2rem; */
  text-align: center;
}
.imgContainer {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.houseContainer img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.houseContainer .houseContent {
  padding: 1rem;
}

/* Form component */
.form {
  width: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-top: 2rem;
  height: 2rem;
  outline: none;
  border: none;
  padding-left: 1rem;
}

/* form input::placeholder {
  padding-left: 1rem;
} */

form button {
  margin-top: 2rem;
  height: 2.5rem;
  border: none;
  transition: all 0.3s ease;
  background-color: #555;
  color: #fff;
}

form button:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

span {
  padding-top: 2px;
  color: blue;
  font-size: small;
}

/* Navbar component */

.navbar {
  background-color: var(---primary-color);
  color: var(--card-color);
  width: 100%;
  position: relative;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  /* background-color: blue; */
  padding-right: 4rem;
  list-style: none;
}
@media screen and (max-width: 740px) {
  .navbar ul {
    display: none;
  }
  .btn {
    display: block !important;
  }
  .navbar ul li {
    padding: 2rem 1rem;
  }
}
.block {
  height: 100vh;
}
.ul-block {
  display: block !important;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.navbar ul li {
  padding: 2rem 1rem;
}

.navbar ul li:nth-child(1) {
  /* background-color: white; */
  justify-content: start;
  position: absolute;
  left: 0;
}
.navbar ul li a {
  font-size: medium;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar ul li a:hover {
  font-size: medium;
  text-transform: uppercase;
  cursor: pointer;
}

.img {
  width: 25rem;
  position: absolute;
  top: 50%;
  left: 10%;
}

.btn {
  display: none;
  position: relative;
  top: 0;
}

/* Home Component */
.content {
  /* background-color: blue; */
  height: 100vh;
  text-align: center;
  line-height: 100vh;
}

.link {
  text-decoration: none;
  color: var(--secondary-color);
}
